@media screen and (max-width:850px){
	#menu { left: 0;  width: 100%;text-transform:capitalize; text-indent:10px; margin-bottom:0px;}
	#menu .heading { width: 100%; height:32px;position:relative; cursor:pointer; border-bottom:1px solid #999;box-shadow: 2px 2px 4px rgba(1,1,1,.3); color:#666; margin-bottom::0px; }
	#menu_icon:before, #menu_icon:after, #menu_icon { border: 2px solid #999; display:block; width: 20px; height:0; border-radius:2px; cursor:pointer; }
	#menu_icon { float:left; margin: 6px 10px 10px 6px; position:relative; display:block; }
	#menu_icon:before, #menu_icon:after { content: ''; position:absolute; left:-2px; margin:0; }
	#menu_icon:before { top: -8px; }
	#menu_icon:after { top: 4px; }
	#menu_content li { display:block; font-size:.7rem; font-size:9pt;opacity:1 }
	#menu_content .menu { margin-bottom:1em; }
	#menu .label {display:block;}
	#menu .menu  .label { padding:5px 0;font-size:12px;}
	#menu a { display:block; padding:9px; }
	#menu #menu_content {display:none; position:relative; width:100%; z-index:5; padding:8px;opacity:.94; border:0px; padding-top:0px }
}
/* large format menu */
@media screen and (min-width:851px) {
	#menu .heading { display:none;}
	#menu {padding:0px; padding-bottom:0px; border:0px; width:100%;z-index:5; position:relative;}
	#menu_icon { float:left; margin: 6px 10px 10px 6px; position:relative; display:none; }
	#menu .menu span {font-size:12px; line-height:20px;}
	#menu_content .menu { display:inline-block; position:relative; width:auto; clear:none; padding-right:8px; text-align:center;z-index:5; }
	#menu_content .menu .content  {position:absolute; width:200px; border:1px solid #999; display:none; max-height:550px; overflow-x:hidden; overflow-y:auto; background-color:White; z-index:0; }
	#menu_content .menu:hover {}
	#menu_content .menu:hover .content  { display:block; box-shadow: 2px 2px 4px rgba(1,1,1,.3);}
	#menu_content .menu:hover .content:hover  { display:block; box-shadow: 2px 2px 4px rgba(1,1,1,.3);}
	#menu_content ul {list-style:none;}
	#menu .content li { display:block; }
	#menu .content li a { display:block; padding:8px; text-indent:0px; }
	#menu .label { font-weight:bold; }
	#menu .submenu { display:block; }
	#menu .menu .label { display:block; text-transform:uppercase;cursor:pointer;  }
	#menu .submenu .more { display:none; }
	#menu .label a { color:#903; }
	#menu_content .menu  ul.content  {margin:0; padding:0; text-indent:0}
	#menu .menu span.label {color:#666; white-space:nowrap; border-bottom:none; }
	/*#menu .menu:hover span.label { color:#000; }
	#menu, #menu #menu_content { background-color:#eee; }*/	
}
@media screen and (min-width:1100px){
	#menu .menu span {font-size:14px; line-height:22px;}
	#menu .menu .content li {font-size:12px;}
	#menu .menu .content li a {line-height:20px;}
}
#menu_icon:before, #menu_icon:after, #menu_icon { border-color: #666; }
#menu {background-color:transparent; box-shadow:0px 0px 0px rgba(1,1,1,.3);border-bottom:0px solid #CCC; margin:0; font-family: 'Raleway', Verdana, Arial, sans-serif; margin-bottom:-200px; z-index:7;position:absolute;}
#menu_content {opacity:1;  display:block; border-bottom:0px;}
#menu .menu {text-indent:0px;}
#menu .menu span {padding: 8px;}
#menu .menu span:hover {text-decoration:underline;}
#menu .menu li {border-bottom:1px solid #ccc; width:100%; color:#00a1af; }
#menu_content .menu ul.content  
{
 margin-top:0px;
 background:#FFFFFF; 
 opacity:1;
 -moz-border-bottom-right-radius: 10px; 
 -moz-border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;  
 border-bottom-left-radius: 10px; 
 padding: 0px 10px 0px 10px; 
 border-top:1px solid #CCC;
 width:auto;
 }
/*#menu_content .menu ul.content:before {content:url(../images/white_arrow.png);}
#menu_content .menu ul.content:before img { margin-top:-30px;}*/
#menu .menu .content li {width:auto; text-align:left; font-size:.9rem; border-bottom-color:#b7b6b6; }
#menu .menu .content li a {text-indent:0px; text-decoration:none; text-align:left;  color:Black; line-height:1.3rem; letter-spacing:.05rem; white-space:nowrap;}
#menu .menu .content li a:hover {background: transparent url(../images/check.png) right no-repeat; text-decoration:underline; }
#menu .menu li:last-child {border-bottom-color:#FFFFFF;  }
#menu .menu li:hover:last-child {border-bottom-color:#E2FBFF; }
#menu .menu .label
{
    color:#777; 
    text-indent:0px; 
    background:url(../images/bluedot.png) right no-repeat;
    padding: 12px 42px 14px 18px;
    border-bottom:0px solid #9d102e;
    text-transform:none; 
	letter-spacing:.1rem; 
	font-weight:normal;
	font-size:.9rem;
	text-align:center;
    }
#menu .last .label  {background-image:none;}
#menu .menu .label a {color:#777; }
#menu a {color:#777;}
#menu a:hover {color:#226486;}
#menu #menu_content {border:0px solid #999}
#menuback 
{
    position:absolute; 
    top:0; 
    left:0; 
    background:#FFFFFF; 
    opacity:.9;
    height:118px;
    z-index:6;
    width:100%;
}
#coverup 
{
    position:fixed; 
    top:0; 
    left:0; 
    background:rgba(0,0,0,0.3); 
    z-index:5; 
    width:100%; 
    height:100%; 
    transition: opacity 0.5s;
     background-image: url("images\bluedot.png");
    }
 /*tophat */

.newTopNav {
	width:100%;
	float:left;
	position:absolute;
	top:0px;
	z-index:10;
	border-bottom:2px solid #85d100;
	background-color:White;
	text-align:center;
	display:block;
}
.newSubNav {
	width:100%;
	float:left;
	position:absolute;
	top:55px;
	z-index:9;
	border-bottom:2px solid #85d100;
	background-color:White;
	text-align:center;
	display:block;
}
.SPIlogo {
	width:300px;
	float:left;
	cursor:pointer;
	display:table-cell;
	max-width:60%;	
}
.SPIlogo img {width:100%}
.topMenu {float:right; clear:none; width:114px;display:table-cell; max-width:25%; margin-right:2%;}
.topMenu img {width:100%;}
@media (min-width:1201px) {
	#menu #menu_content {display:block;}
}
@media (min-width:851px) and (max-width:1200px) {
	#menu .menu {margin-top:4px;}
	#menu .menu .label {font-size:.8rem; padding: 8px 22px 6px 6px;}
	#menu #menu_content {display:block;}
}
@media (max-width:850px) {
	#menu {text-transform:capitalize}
	#menuback  {opacity:0;}
	#menu #menu_content {display:none;background-color:#f2f2f2; padding:0px 0px 0px 0px; margin-top:0px; border-bottom:1px solid #CCC; width:90%; margin-left:10%; } /*height:800px; overflow-y:scroll; overflow-x:hidden;*/
	#menu_content .menu {margin-bottom: 0px; border-bottom:0px solid #CCC; margin-left:2px;}
	#menu_content .content {border:1px solid #CCC;} 
	#menu .menu .label { text-transform:capitalize; padding:4px 0px 4px 0px;font-size:14px; text-align:left; color:#666; background:url(../images/bluedot.png) left no-repeat; text-indent:10px; margin-left:10px;}
	.newSubNav {top:43px;}

}
@media (max-device-width: 850px) {
	#menu {text-transform:capitalize}
	#menuback  {opacity:0;}
	#menu #menu_content {display:none; background-color:#f2f2f2; padding:0px 0px 0px 0px; margin-top:12px; border-bottom:1px solid #CCC; width:70%; margin-left:30%; } /*height:800px; overflow-y:scroll; overflow-x:hidden;*/
	#menu_content .menu {margin-bottom: 0px; border-bottom:0px solid #CCC; margin-left:8px;}
	#menu_content .content {border:1px solid #CCC;} 
	#menu .menu  .label {text-transform:capitalize; padding:4px 0px 4px 0px;font-size:14px; text-align:left; color:#666; background:url(../images/bluedot.png) left no-repeat; text-indent:10px; margin-left:10px;}
}